.container {
    background-color: #aaa;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sheet {
    width: 400px;
    height: 500px;
    margin: 0px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.75s;
    transform-style: preserve-3d;

    transform-origin: left;
    transform: translateX(50%);
}

.sheet.turned {
    transform: rotateY(180deg) translateX(-50%);
}

.sheet.centered {
    transform: translateX(0%);
}

.face {
    width: calc(100% - 40px);
    height: calc(100% - 40px);

    background-color: white;
    border: 1px solid black;

    position: absolute;

    transition: all 0.75s;
    backface-visibility: hidden;

    /* compatibildiade iOS */
    -webkit-backface-visibility: hidden;

    padding: 20px;
    display: flex;
    justify-content: center;
}

p {
    /* background-color: blueviolet; */
}

.front {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: inset 5px 0px 10px -1px rgb(70, 70, 70),
    0px 5px 7px rgb(27, 27, 27);
}

.back {
    transform: rotateY(180deg);

    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset -5px 0px 10px -1px rgb(70, 70, 70),
    0px 5px 7px rgb(27, 27, 27);;
}



